/* body/main css */
body {

}
.container {
  margin-top: 80px;
}

/* Nav Bar */
.fas:hover {
  color: red;
}
/* app.js css */

/* User component */

/* LoginForm component */

/* RegisterForm component */

/* SearchForm component */

/* Rollout component */
#pageCount{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pagerDiv {
  max-width: 150px;
}
/* Favorite component */
#favoriteDiv{
  /* formatted to view purposes in development. need to change on final */
  margin-top: 100px;
}
