body {
  max-width: 80%;
  background-color: white;
  margin: auto;
}

@font-face {
   font-family: 'watchmen';
   src: url('../fonts/--wATCHMEn--.ttf');
}
.container {
  margin-top: 80px;
}

#cf {
  width: 800px;
  position:relative;
  margin: auto;
}

.main-content {
  position: absolute;
  top: 375px;
  left: 40px;
  z-index: 2;
}

.mainsearch {
  position: absolute;
  z-index: 3;
  top: 555px;
  left: -15px;
}
.searchbardiv {
  border-radius: 10px;
  border: 5px solid black;
}
.mainsearchinput {
  width: 350px;
}

.maintitle {
  position: absolute;
  font-family: 'watchmen';
  font-size: 4.5em;
  color: black;
  z-index: 2;
  top: 350px;
  left: -40px;
  text-shadow:3px 3px 2px rgba(255,255,255,0),2px 2px 0px rgba(255,255,255,1);
}

.main-wrapper {
  margin: 100px auto;
  width: 700px;
}

#cf img {
  border: 5px solid black;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  25% {
    opacity:.0;
  }
  75% {
    opacity:.0;
  }
  100% {
    opacity:1;
  }
}

#cf img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 15s;
animation-direction: alternate;
}

/* Nav Bar */
.login {
  color: white;
}

.login:hover i {
  color: rgb(31,195,167);
}

.logo {
  color: white;
  font-family: 'watchmen';
  text-shadow:1px 1px 1px rgba(0,0,0,1);
  padding-left: 10px;
}

.icon-nav {
  padding: 0 10px;
}
/* app.js css */

/* User component */

/* LoginForm component */
.form {
  padding: 10%;
  border: 1px solid lightgrey;
  background: rgb(255, 255, 255);
}

/* RegisterForm component */

/* SearchForm component */

/* pagination */

#skipBar {
  display: flex;
  flex-direction: row;
}
#jumpButton {
  margin-left: 15px;
}
#skipInDiv {
  display: flex;
  flex-direction: column;
}
#pager {
  max-width: 70px;
  min-width: 70px;
}
#pageCount{
  width: 87%;
  margin:10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}
#pagerDiv {
  max-width: 150px;
  margin: 0;
}
#results {
  font-size: 1.4em;
}
#skipper {

}
/* Rollout component */
#rollout {
  margin-top: 90px;
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-box {
  width: 315px;
  padding: 20px;
  margin: 15px 0;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.result-box:hover {
  box-shadow: 3px 5px 9px #888888;
}

.result-details {
  font-size: 12px;
}


.result-thumbnail {
  float:right;
  margin: 10px;
  max-width: 80px;
  max-height: 80px;
}
/* Favorite component */
#favoriteDiv{
  /* formatted to view purposes in development. need to change on final */
}

/* Favorites List */
.icon_list {
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.name_list {
  font-size: 20px;
  padding: 0 20px;
  cursor: pointer;
  min-width: 140px;
  padding:0px;
}

.deck_list {
  font-size: 12px;
}

.image-column {
  min-width: 120px;
}

/* Collections list */
.description_column {
  max-height: 200px;
  overflow-y: scroll;
}

.colName {
  min-width: 140px;
}
/* ShowDetail Component */
.showdetail-header-volumes {
  color: rgb(31,195,167);
  font-size: 14px;
}

.showdetail-header-issues {
  color: rgb(30, 126, 195);
  font-size: 14px;
}

.showdetail-header-characters {
  color: rgb(229, 150, 66);
  font-size: 14px;
}

.showdetail-img {
  max-width: 200px;
  max-height: 400px;
  float: left;
  margin: 15px;
}

.show-detail-info {
  padding: 10px;
}

.show-detail-label {
  font-weight: bold;
}

.show-detail-section {
  margin: 10px;
  margin-bottom: 15px;
}

.modal-title-container {
  max-width: 550px;
  max-height: 200px;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
    #pageCount {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }
    #stepper {
      margin-bottom: 15px;
    }
    #cf img {
      width: 400px;
      height: 400px;
    }
    #cf {
      width: 700px;
    }
    .main-wrapper {
      width: 700px;
    }
    .maintitle {
      font-size: 3em;
      top: 220px;
      left: -15px;
      text-shadow:3px 3px 2px rgba(255,255,255,0),2px 2px 0px rgba(255,255,255,1);
    }
    .mainsearch {
      top: 340px;
      left: 10px;
    }
    .mainsearchinput {
      width: 250px;
    }
    .main-select {
      width: 60px;
    }
}
