/* body/main css */
body {

}
.container {
  margin-top: 80px;
}

/* Nav Bar */
.login {
  color: white;
}

.login:hover i {
  color: rgb(31,195,167);
}

.logo {
  color: white;
}

.icon-nav {
  padding: 0 10px;
}
/* app.js css */

/* User component */

/* LoginForm component */
.form {
  padding: 10%;
  border: 1px solid lightgrey;
  background: rgb(255, 255, 255);
}

/* RegisterForm component */

/* SearchForm component */

/* Rollout component */
#pageCount{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pagerDiv {
  max-width: 150px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-box {
  width: 315px;
  padding: 20px;
  margin: 15px 0;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.result-box:hover {
  box-shadow: 3px 5px 9px #888888;
}

.result-details {
  font-size: 12px;
}


.result-thumbnail {
  float:right;
  margin: 10px;
}
/* Favorite component */
#favoriteDiv{
  /* formatted to view purposes in development. need to change on final */
}

/* Favorites List */
.icon_list {
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.name_list {
  font-size: 20px;
  padding: 0 20px;
  cursor: pointer;
}

.deck_list {
  font-size: 12px;
}

.image-column {
  min-width: 120px;
}

/* Collections list */
.description_column {
  max-height: 100px;
  overflow: scroll;
}

/* ShowDetail Component */
.showdetail-header-volumes {
  color: rgb(31,195,167);
  font-size: 14px;
}

.showdetail-header-issues {
  color: rgb(30, 126, 195);
  font-size: 14px;
}

.showdetail-header-characters {
  color: rgb(229, 150, 66);
  font-size: 14px;
}

.showdetail-img {
  max-width: 200px;
  max-height: 400px;
  float: left;
  margin: 15px;
}

.show-detail-info {
  padding: 10px;
}

.show-detail-label {
  font-weight: bold;
}

.show-detail-section {
  margin: 10px;
  margin-bottom: 15px;
}

.modal-title-container {
  max-width: 550px;
  max-height: 120px;
  overflow: scroll;
}
